@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    width: 100%;
    height: calc(100vh - 90px);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.animateZoom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://res.cloudinary.com/drrhtmzpk/image/upload/v1728582630/wm9uo86y7la-1728582629483-image-backgroundBanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomInOut 12s ease-in-out infinite;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(31, 41, 55, 0.498);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/* https://i.postimg.cc/Qt5gNNcP/image.jpg */